        .Bryancarrusel {
            width: 1280px;
            height: 720px;
            overflow: hidden;
            position: relative;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }

        .Bryancarrusel section {
            width: 8960px;
            display: flex;
            left: 0px;
            transition: all 1s;
            position: relative;
        }

        .Bryancarrusel section img {
            width: 1280px;
            height: 720px;
        }

        button {
            border: none;
            background: white;
            width: 36px;
            height: 36px;
            position: absolute;
            top: 50%;
            border-radius: 60px;
            font-size: 30px;
            line-height: 30px;
            text-align: center;
        }

        button:hover {
            background: rgba(255, 255, 255, 1);
            transition: all 1s;
        }

        .Bryancarrusel button:first-of-type {
            left: 2%;
        }

        .Bryancarrusel button:last-of-type {
            right: 2%;
        }